
#wrap {
	margin:auto;
	width: 250px;	
}

#header {
	background-image:url(image/title3_bg.jpg);
	background-repeat:repeat-x;
	height:24px;
	margin:0px;
	padding: 6px 0px 0px 15px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	}
.but{
	padding-right:20px;
	width:15px;
	float:left;
}
	
#body {
	background-color:#F5F5F5;
	padding: 5px 0px 5px 0px;
	}

#footer {
	background-image: url(image/footer_mod3.jpg);
	height:13px;
	background-repeat: repeat-x;	
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;

}

#body ul{
	margin:10px;
	padding:0px 0px 0px 25px;
}


#body ul li {
	list-style:none;
	icon:url(image/but3.png);
	list-style-image: url(image/but3.png);
}

#body ul li a{
	text-decoration: none;
	display:block;
	padding:5px;
	border-bottom:dotted;
	border-bottom-width:thin;
	color:#333;
}

#body ul li:last-child a{
	border-bottom:none;
}

#body ul li:hover {
	list-style-image:url(image/but2.png);
}

#body ul li a:hover {
	font-weight:bold;
	color:#00F;
	font-style:oblique;	
	border-bottom: solid;
	border-bottom-width:thin;
	text-shadow:#333;
}

#body ul li:last-child a:hover{
	border-bottom:none;
}
