

	#cam{
		background:#FC0;
		text-align:center;
		height:40px;
		#
		}
	#camnhat{
		background:#FC9;
			}
	#xanhnhat{
		background:#6CF;
		center;;
		height:30px;
		text-align:center;
			}
			.header-table {
				border: none;
			}
			.cl-tyso {
				width: 100px;
				background:#F96;
				
			}