@charset "utf-8";
/* CSS Document */

    table{
    border: 1px 1px 1px 1px;
    
   
    
    
    
    
        }
    td{
      
       
    }
        
.txt    {
               border-color:#336699;
            }
.col1{
        width: 60px;
    
}
.rowend{
        text-align: center;
    
}